<div class="max-w-4xl mx-auto py-12 px-4 animate-fade-in">
  <h1 class="text-4xl font-sports tracking-wider uppercase text-brand-text font-black mb-8 border-b-2 border-brand-accent pb-4">{{ 'LEGAL_PAGES.MENTIONS.TITLE' | translate }}</h1>
  
  <div class="space-y-8 text-brand-text-muted">
    <section>
      <h2 class="text-2xl font-sports uppercase tracking-widest text-brand-text font-bold mb-4">{{ 'LEGAL_PAGES.MENTIONS.SECTION_1_TITLE' | translate }}</h2>
      <p>{{ 'LEGAL_PAGES.MENTIONS.SECTION_1_TEXT' | translate }}</p>
      <ul class="list-disc pl-6 mt-2 space-y-1">
        <li><strong>{{ 'LEGAL_PAGES.MENTIONS.COMPANY' | translate }} :</strong> farouk.dev</li>
        <li><strong>{{ 'LEGAL_PAGES.MENTIONS.ADDRESS' | translate }} :</strong> 645, 5e Avenue, New York, NY 10022, USA</li>
        <li><strong>Email :</strong> faroukaitoujkal&#64;gmail.com</li>
        <li><strong>{{ 'LEGAL_PAGES.MENTIONS.DIRECTOR' | translate }} :</strong> Ait Oujkal Farouk</li>
      </ul>
    </section>

    <section>
      <h2 class="text-2xl font-sports uppercase tracking-widest text-brand-text font-bold mb-4">{{ 'LEGAL_PAGES.MENTIONS.SECTION_2_TITLE' | translate }}</h2>
      <p>{{ 'LEGAL_PAGES.MENTIONS.SECTION_2_TEXT' | translate }}</p>
      <ul class="list-disc pl-6 mt-2 space-y-1">
        <li><strong>{{ 'LEGAL_PAGES.MENTIONS.HOST_NAME' | translate }} :</strong> Vercel Inc.</li>
        <li><strong>{{ 'LEGAL_PAGES.MENTIONS.ADDRESS' | translate }} :</strong> 440 N Barranca Ave #4133, Covina, CA 91723, États-Unis</li>
      </ul>
    </section>

    <section>
      <h2 class="text-2xl font-sports uppercase tracking-widest text-brand-text font-bold mb-4">{{ 'LEGAL_PAGES.MENTIONS.SECTION_3_TITLE' | translate }}</h2>
      <p>{{ 'LEGAL_PAGES.MENTIONS.SECTION_3_TEXT' | translate }}</p>
    </section>
  </div>
</div>
